/* PC */
@media (min-width: 992px) {
  /* từ 992px trở lên thì áp dụng */
  .mobile-header {
    display: none;
  }
}

/* tablet & mobile */
@media (max-width: 991.98px) {
  /* từ 991.98px trở xuống thì áp dụng */
  .container {
    width: auto;
  }
  /* 1. ẩn navbar trên tablet & mobile */
  .navbar {
    display: none;
  }
  /* ==================================================== */
  /* 2. chuyển logo vào giữa */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  /* 3. căn lại vị trí của menu icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }

  /* 4. overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* bình thường ẩn overlay đi */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  /* 5. kiểm tra nếu checkbox đc check thì hiện overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  /* 6. code cho menu drawer */
  .menu-drawer {
    position: fixed;
    background: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }
  /* 7. kiểm tra nếu checkbox được check thì hiện lại menu */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  /* 8. menu-top */
  .close-menu {
    width: 24px;
    color: #fff;
  }

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__link {
    display: block;
    font-size: 2rem;
  }
  .navbar__link:hover {
    background: #746f6f;
  }

  /* ======================================================== */
  /* khối hero */
  .hero {
    flex-direction: column;
    gap: 50px;
  }

  .hero__content {
    order: 2;
  }
  .hero__media {
    order: 1;
  }
  .hero__content {
    width: 49%;
    text-align: center;
    margin: 22px auto;
  }

  .hero__row {
    justify-content: center;
  }

  /* ========================================================== */
  /* khối sevice */

  .sevice-row {
    flex-direction: column;
    gap: 50px;
  }
  .sevice__imgs {
    width: 100%;
  }

  .sevice__list {
    text-align: center;
  }
  .sevice-item {
    width: 90%;
    text-align: start;
  }

  /* ========================================================== */
  /* work-list */
  .work-list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  /* ============================================================= */
  /* about */
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }
  .about__media {
    width: 100%;
  }
  /* ẩn ảnh small */
  .about__img--small {
    display: none;
  }

  .about__img--big {
    width: 100%;
    border-radius: 15px;
    margin: 25px auto;
  }
  .about-content {
    width: 90%;
    text-align: center;
  }
  .about__heading {
    margin: 0 auto;
  }
  .about__desc {
    margin: 0 auto;
  }

  /* =========================================================== */
  /* team list */
  .team-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .team-item__img .thumb {
    margin: 0 auto;
  }

  /* ============================================================= */
  /* install */
  .install__img {
    display: none;
  }
  .install__content {
    width: 90%;
    margin: 0 auto;
  }

  /* =============================================================== */
  /* blog */
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }
  .blog__list {
    order: 1;
  }
  .blog__content {
    order: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog__heading {
    text-align: center;
    max-width: 90%;
  }
  .blog__control {
    left: 0;
  }

  .appointment__btn {
    left: 179px;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* footer */
  .footer__hidden-tablet {
    display: none;
  }
  .footer__top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }

  .show-on-mobile {
    display: none;
  }
}

/* ----------------------------------mobile------------------------------------------- */
@media (max-width: 767.98px) {
  .action {
    display: none;
  }
  .menu-header__icon {
    top: 18px;
  }
  .menu-drawer {
    padding: 40px;
    inset: 0 20% 0 0;
  }
  .navbar__item {
    list-style-type: none;
  }

  /* thêm vạch kẻ ngang */
  .sparate {
    border: 1.5px solid gray;
    margin-top: 10px;
  }

  /* hero */
  .hero__img-small {
    display: none;
  }
  .hero__img-large {
    width: 246px;
    height: auto;
  }
  .hero__content {
    width: 70%;
  }
  .hero__heading {
    font-size: 3rem;
  }
  .hero__desc {
    font-size: 1.3rem;
  }
  .hero__row {
    flex-direction: column;
    row-gap: 20px;
  }

  /* sevice */
  .sevice {
    padding: 70px 0;
  }
  .sevice__desc {
    width: 99%;
    font-size: 1.6rem;
  }
  .sevice__imgs {
    width: 87%;
    height: auto;
    margin-left: 23px;
  }
  .section-heading {
    text-align: center;
    font-size: 4rem;
  }

  /* work */
  .work__desc {
    width: 95%;
    text-align: center;
    margin-left: 11px;
  }
  .work-item {
    padding: 20px 42px;
    width: 342px;
    margin: 0 auto;
  }

  /* about */
  .about__heading {
    width: 100%;
    font-size: 4rem;
  }
  .about__desc {
    width: 100%;
    margin-top: 10px;
  }
  .about__img--big {
    width: 91%;
    border-radius: 15px;
    margin-top: -112px;
    margin-left: 15px;
    margin-bottom: -55px;
    object-fit: contain;
    box-shadow: none;
    background: none;
  }

  /* team */
  .team {
    padding-bottom: 22px;
  }
  .team-list {
    grid-template-columns: repeat(1, 1fr);
    width: 89%;
    margin: 0 auto;
    margin-top: 30px;
  }

  /* install */
  .install__content {
    min-width: 326px;
    margin-left: -45px;
  }
  .install__heading {
    font-size: 3rem;
    text-align: left;
  }
  /* blog */
  .blog__list {
    flex-direction: column;
  }
  .blog__heading {
    font-size: 4rem;
  }

  /* appoiment */
  .appointment {
    margin-top: 94px;
    width: 100%;
  }
  .appointment__inner {
    margin: 0 auto;
    width: 89%;
    padding: 30px 5px;
  }
  .appointment__heading {
    font-size: 3rem;
  }
  .appointment__desc {
    width: auto;
    font-size: 1.8rem;
  }
  .appointment__btn {
    left: 83px;
  }

  /* footer */
  .footer {
    margin-top: 88px;
    padding-bottom: 28px;
  }
  .footer__top {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 28px;
  }
  .footer__desc {
    width: 312px;
    font-size: 1.5rem;
  }
  .footer__copyright {
    margin-top: 28px;
  }
}
