* {
  box-sizing: border-box;
}

:root {
  --header_bg: #10375c;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-family: "Inter", sans-serif;
}
/* =====================comon========================== */
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100%-48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 999px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

/* control btn */
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.control__btn {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 36px;
  border: 1px solid #575f66;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  cursor: pointer;
  transition: 0.25s;
}

.control__btn:hover {
  border-radius: 36px;
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}

/* Xoay 180 độ */
.control-icon--next {
  rotate: 180deg;
}
/* =====================header========================= */
.header {
  padding-top: 30px;
  background: var(--header_bg);
  min-height: 100vh;
  padding-bottom: 110px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar__list {
  display: flex;
}

.header__action--login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  text-shadow: 1px 0 0 currentColor;
  line-height: 1.75;
}

.navbar__link--active::before {
  position: relative;
  top: -2px;
  right: 8px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.header__action--signup {
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
}

.header__action--login {
  margin-right: 7px;
}

/* =======================hero====================== */
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}

.hero__content {
  width: 44%;
}

.hero__media {
  flex: 1;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.66;
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66;
}

.hero__imgs {
  display: flex;
  justify-content: flex-end;
}

.hero__img {
  object-fit: cover;
}
.hero__img-large {
  width: 330px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 6px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  margin-top: -6px;
  z-index: 1;
}

.hero__img-small {
  position: relative;
  top: 63px;
  width: 210px;
  height: 410px;
  flex-shrink: 0;
  border-radius: 0px 6px 6px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

/* ==========================sevice=========================== */
.sevice {
  padding: 170px 0;
}

.sevice__heading {
  text-align: center;
}

.sevice__desc {
  text-align: center;
  width: 468px;
  margin-left: auto;
  margin-right: auto;
}

.sevice-row {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  align-items: center;
}

.sevice__imgs {
  width: 570px;
  height: 570px;
  flex-shrink: 0;
  border-radius: 12px;
  background: url(<path-to-image>) lightgray 0px -1.3px / 100% 149.93% no-repeat;
  object-fit: cover;
}

.sevice-item {
  padding: 21px;
  display: flex;
  width: 470px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
}

.sevice-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.sevice-item:hover .sevice-item__icon {
  background: #2e80ce;
  color: #fff;
}
.sevice-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}

.sevice-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.sevice-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}

.sevice__btn {
  margin-top: 55px;
  flex-shrink: 0;
}

/* ================== work====================== */
.work {
  padding: 100px 0;
  background: #f6fbff;
}

.work__desc {
  margin-top: 18px;
  width: 468px;
}

.work-list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px 42px;
  border-radius: 4px;
  border: 16px solid #eaf6ff;
  background: #fff;
  transition: 0.25s;
}

.work-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}

.work-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}

.work-item__more:hover {
  color: #2e80ce;
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}

/* ================about================= */
.about {
  margin-top: 85px;
  padding: 85px 0;
}

.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__media {
  width: 49%;
}

.about-content {
  width: 40%;
}

.about__img {
  position: relative;
}
.about__img--big {
  object-fit: cover;
  width: 512px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 6px;
  background: url(<path-to-image>) #fff -1.5px 0px / 108.398% 100% no-repeat;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img--small {
  position: absolute;
  top: 121px;
  left: 238px;
  object-fit: cover;
  width: 332px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 6px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.about__heading {
  width: 470px;
}

.about__desc {
  margin-top: 18px;
  width: 468px;
}

.about-content__btn {
  margin-top: 38px;
}

/* =================team================ */
.team {
  padding: 170px 0;
}

.team-header {
  text-align: center;
}

.team__btn {
  margin-top: 38px;
}

.team-list {
  margin-top: 70px;
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.team-item__img {
  border-radius: 6px;
  background: #eaf6ff;
  padding-top: 28px;
  overflow: hidden;
}
.team-item__img .thumb {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  transition: 0.5s;
}

.team-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75;
}

.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.85; /* 185.714% */
}

.team__control {
  margin-top: 38px;
  justify-content: center;
}

/* -----------------install mobile----------------- */
.install {
  margin-top: 85px;
}
.install__inner {
  border-radius: 4px;
  background: #2e80ce;
  height: 427px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.install__img {
  object-fit: cover;
  width: 284px;
  height: 522px;
  flex-shrink: 0;
  background: url(<path-to-image>) #fff -238.818px -60.273px / 267.943%
    129.736%no-repeat;
  position: relative;
  bottom: 46px;
}

.install__content {
  min-width: 586px;
}
.install__heading {
  max-width: 489px;
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.install__desc {
  max-width: 586px;
  margin-top: 18px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.install__row {
  display: flex;
  margin-top: 38px;
  gap: 28px;
}

/* ----------------blog----------------- */
.blog {
  margin-top: 170px;
}

.blog__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__heading {
  max-width: 470px;
}

.blog__more {
  margin-top: 28px;
  color: #10375c;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56;
  text-decoration-line: underline;
}

.blog__control {
  margin-top: 28px;
  position: relative;
  left: -189px;
}

.blog__list {
  display: flex;
  gap: 30px;
}

.blog-item__thumb {
  width: 270px;
  height: 172px;
  flex-shrink: 0;
  border-radius: 12px 12px 0px 0px;
  background: url(<path-to-image>) lightgray -2px -4.032px / 100.741% 104.688%
    no-repeat;
}

.blog-item__body {
  width: 270px;
  padding-top: 18px;
  padding-bottom: 21px;
  padding-left: 22px;
  padding-right: 22px;
}

.blog-item__heading {
  max-width: 224px;
  color: #10375c;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62;
}

.blog-item__desc {
  color: #575f66;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.72;
  width: 226px;
}

.blog-item__more {
  margin-top: 12px;
  color: #2e80ce;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 500;
}

.blog-item__more:hover {
  color: #10375c;
}

.blog-item {
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  transition: 0.25s;
}

.blog-item:hover {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}

/* ------------------Appointment------------------ */
.appointment {
  /* background: #f6fbff; */
  margin-top: 170px;
  /* padding-top: 100px;
  padding-left: 178px;
  padding-right: 179px;
  padding-bottom: 100px; */
}
.appointment__inner {
  background: #f6fbff;
  padding-top: 100px;
  padding-left: 178px;
  padding-right: 179px;
  padding-bottom: 100px;
}
.appointment__heading {
  text-align: center;
}

.appointment__gachchan {
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  width: 136px;
  height: 2px;
  flex-shrink: 0;
  background: #2e80ce;
}

.appointment__desc {
  width: 617px;
  margin-top: 18px;
  color: #575f66;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-left: auto;
  margin-right: auto;
}

.appointment__btn {
  margin-top: 38px;
  position: relative;
  left: 306px;
}

/* ==================footer======================== */
.footer {
  margin-top: 170px;
  padding-top: 100px;
  background: #10375c;
  font-family: "Open Sans", sans-serif;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}

.footer__desc {
  margin-top: 21px;
  color: #a9b3bb;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}

.footer__heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer__list {
  margin: 20px 0 28px;
}

.footer__link {
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
  white-space: nowrap;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__social {
  margin-top: 20px;
  display: flex;
  column-gap: 10px;
  margin-bottom: 28px;
}

.footer__social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #fff;
  color: #2e80ce;
  transition: 0.25s;
}

.footer__social-btn:hover {
  color: #fff;
  background: #2e80ce;
}

.footer__form {
  display: flex;
  column-gap: 12px;
  margin-top: 10px;
}

.footer__form-input {
  width: 212px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #406181;
  background: transparent;
  outline: none;
  color: #fff;
}

.footer__form-input::placeholder {
  color: #9ca8b1;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
.footer__form-submit {
  width: 108px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
  border: none;
}

.footer__form-submit:hover {
  opacity: 0.9;
  cursor: pointer;
}

.footer__copyright {
  border-top: 1px solid #406181;
}

.end {
  margin-top: 28px;
  color: #aab3ba;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
/* aos */
[data-aos] {
  visibility: hidden;
}
[data-aos].animate__animated {
  visibility: visible;
}
